altgraph==0.17
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
deep-translator==1.4.2
future==0.18.2
idna==2.10
pefile==2019.4.18
pyinstaller-hooks-contrib==2021.1
pynput==1.7.3
pyperclip==1.8.2
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
